﻿@using System.Web.Configuration
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <a href="https://github.com/WpgDotNetUG/UserGroupWebsite" target="_blank">
            <img style="position: absolute; top: 40px; right: 0; border: 0;" 
                 src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" 
                 alt="Fork me on GitHub">
        </a>
        
        @{
            var newsSelected = ViewBag.Menu == "News" ? "active" : null;
            var homeSelected = ViewBag.Menu == "News" ? null : "active";
        }
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">Winnipeg Dot Net User Group</span>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="@homeSelected"><a href="/">Home</a></li>
                            <li><a href="http://www.eventbrite.com/org/1699161450" target="_blank">Events</a></li>
                            <li><a href="http://wpgdotnet.ideascale.com/" target="_blank">Topics</a></li>
                            <li class="@newsSelected"><a href="/pagenews">News</a></li>
                        </ul>
                    </div>
                    <div class="social-media">
                        <a href="mailto: kelly@mindfulsanity.com"><i class="icon-envelope icon-large"></i></a>
                        <a href="https://twitter.com/wpgnetug" target="_blank"><i class="icon-twitter icon-large"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row-fluid">
                <section id="content" class="span10">
                    @RenderBody()
                </section>
                <aside class="sidebar span2">
                    <section class="well sidebar-nav">
                        <ul class="nav nav-list">
                            @LocalSponsors()
                            @NonLocalSponsors()
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
        <hr/>
        <footer class="pull-right">
            &copy; Winnipeg Dot Net User Group 2012 
            - 
            v2.0
            - @WebConfigurationManager.AppSettings["appharbor.commit_id"].Substring(0, 6)
        </footer>

        @Scripts.Render("~/scripts/date.js")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>

@helper LocalSponsors()
    {
    <li class="nav-header">Local Sponsors</li>
    @Sponsor("http://apptius.com", "apptius-logo.png", "Apptius")
    @Sponsor("http://www.dmt.ca", "dmt.jpg", "DMT")
    @Sponsor("http://imaginet.com", "imaginet.png", "Imaginet")
    @Sponsor("http://www.obsglobal.com", "obs-logo.png", "Online Business Systems")
}

@helper NonLocalSponsors()
    {
    <li class="nav-header">Non-Local Sponsors</li>
    @Sponsor("http://www.ineta.org", "Ineta-Logo.png", "INETA")
    @Sponsor("http://manning.com", "manning.jpg", "Manning")
    @Sponsor("http://msdn.microsoft.com", "Msdn-Logo.png", "MSDN")
    @Sponsor("http://www.pluralsight-training.net/microsoft/", "pluralsight-logo-for-sponsorships-small.png", "Pluralsight")
    @Sponsor("http://oreilly.com/", "oreilly.gif", "O'Reilly")

}

@helper Sponsor(string url, string img, string alt)
    {
    <li class="sponsor">
        <a href="@url" target="_blank"><img src="~/Images/@img" alt="@alt" /></a>
    </li>
}