﻿@section styles {
        @Styles.Render("~/Content/home.css")
}

@section scripts {
        @Scripts.Render("~/bundles/vm-home")
}

<section class="hero-unit" id="next-event">
    <h1>Winnipeg .NET User Group</h1>
    <hr />
    <div class="main-event">
        <h2>
            <i class="icon-thumbs-up icon-large"></i>
            <span data-bind="if: loading">
                Finding about next event.... please wait...
            </span>
            <span data-bind="if: !loading() && eventPending">
                Next event in progress, please stay tuned!
            </span>
            <!-- ko ifnot: eventPending -->
            Join us on 
            <span data-bind="text: date"></span> 
            to talk about 
            <strong data-bind="text: title"></strong>
            <!-- /ko -->
        </h2>
        <p data-bind="html: description"></p>
    </div>
    <a data-bind="ifnot: eventPending, attr: {href: url}" class="read-more" target="_blank">Read more and register</a>
</section>
<section class="row-fluid">
    <section id="events" class="widget-info span6">
        <h2>
            <i class="icon-calendar"></i>
            Past Events
            <a data-bind="attr: { href: organizerUrl }" target="_blank">
                View all &raquo;
            </a>
        </h2>
        <ul id="list-events" data-bind="foreach: events">
            <li>
                <span data-bind="text: $data.Date"></span>
                <a data-bind="attr: { href: Url }" target="_blank">
                    <span data-bind="text: $data.Title"></span>
                </a>
            </li>
        </ul>
    </section>
    <section id="topics" class="widget-info span6">
        <h2>
            <i class="icon-group" ></i>
            Future Topics
            <a href="http://wpgdotnet.ideascale.com/" target="_blank">Vote &raquo;</a>
        </h2>
        <ul id="list-topics" data-bind="foreach: topics">
            <li>
                <span data-bind="text: $data.Votes + ' Votes'"></span>
                <span data-bind="text: $data.Topic"></span>
            </li>
        </ul>
    </section>
</section>
<section id="row_2">
    <section id="news" class="widget-info span6">
        <h2>
            <i class="icon-eye-open"></i>
            News
            <a href="/pagenews" id="news-read-all">Read all &raquo;</a>
        </h2>
        <ul id="list-news" data-bind="foreach: news">
            <li>
                <span data-bind="text: $data.Date"></span>
                <span data-bind="text: $data.Title"></span> 
            </li>
        </ul>
    </section>
    <section id="register" class="widget-register span6">
        <h2>
            <i class="icon-envelope"></i>
            Get Notified
            <a href="http://eepurl.com/clTOr" target="_blank">Signup &raquo;</a>
        </h2>
        <p>
            Want to make sure you don't miss a meeting? 
        </p>
        <p>
            Then take a minute and <b>sign up for the Winnipeg .Net User Group mailing list</b>!. 
        </p>
        <p>
            You can be on top of our event schedule, and all you need to do is check you email. Sign up now and don't miss another meeting.
        </p>
    </section>
</section>

