﻿@import "lib/bootstrap";

.hero-unit {
	
	@include gradient-striped($btnInfoBackground);


	background-image: url('/images/wpg_bridge.jpg');
	background-position: 0px -150px;
	background-repeat: repeat-x; 


	h1 {
		color:white;
	}

	.main-event {
		@extend .alert;
		@extend .alert-info;
		background-color: white;

		h2 i {
			margin-right:10px;
			padding-top:5px;
		}
	}
	a.read-more {
		@extend .pull-right;
		@extend .btn;
		@extend .btn-large;
		@extend .btn-primary;
	}
}

.widget {
	@extend .alert;

	h2 {
		i {
			margin-right:10px;
			padding-top:5px;
		}

		a {
			@extend .pull-right;
			@extend .btn;
			min-width:100px;
		}
	}

	ul {
		list-style: none;
		margin-left: 0px;

		li {
			margin-bottom: 10px;
		}

		li > span:first-child {
				@extend .label;
				@extend .label-info;
				padding: 5px;
				font-family:monospace;
				margin-right:5px;
		}
	}
}

.widget-info {
	@extend .widget;
	@extend .alert-info;

	h2 a {
		@extend .btn-info;
	}
}

#topics.widget-info {

	li > span:first-child {
		@extend .badge;
		@extend .badge-info;
	}
}

.widget-register {
	@extend .widget;
	@extend .alert-success;

	h2 a {
		@extend .btn-success;
	}
}