﻿@import "lib/bootstrap";

#content > header {
	@extend .alert;
	@extend .alert-info;

	@include gradient-striped($btnInfoBackground);
	
	color:white;
	padding: 20px;

	h1 {
		font-size: 3em;
	}


	h1 i {
		margin-right:20px;
		padding-right:20px;
		padding-top:10px;
	}
}

#news {
	article {
		@extend .alert;
		@extend .alert-info;
		margin-bottom:10px;
		margin-right: 20px;
		margin-left: 20px;
		
		header {
			h1 {
				font-size: 1.8em;
			}
		}

		time {
			@extend .label;
			@extend .label-info;
			@extend .pull-right;
			@include font-family-monospace;
			font-size:0.6em;	
			padding: 10px 8px;
		}

		.content {
			margin-top: 5px;
			h1 {
			}
			p {
				font-size: 1.2em;
			}
		}
	}

	article:nth-child(even) {
		background-color: $white;
		border-color: $infoText;

		time {
			@include gradient-striped($infoText);
		}
	}

	article:nth-child(odd) {
		color: $grayDark;
		background-color: $white;
		border-color: $grayDark;
		header {
			a {
				color: $grayDark;
			}
		}

		time {
			@include gradient-striped($grayDark);
			background-color: $grayDark;
			color: $white;
		}
	}
}
