﻿@import "lib/bootstrap";

body {

	padding-bottom: 40px;
	padding-top: 70px;

	nav {
		margin: 5px;

		.social-media {
			@extend .btn-group;
			@extend .pull-right;
			margin-top: 5px;

			a {
				@extend .btn;
				@extend .btn-info;
				i {
				}
			}
		}
	}


	.hero-unit {
		.label {
			padding: 3px;
			margin-right:5px;
			margin-left:40px;
		}
	}

	footer {
		margin-right:20px;
	}

	.sponsor {
		a {
			margin-bottom:5px;

			img {
				max-width:80%;
				border:1px solid black;
				padding:2px;
			}
		}
	}

	section#row_2 {
		@extend .row-fluid;
	}
}

@media screen and (max-width:1024px) {

	h1 {
	}
}

@media screen and (max-width:758px) {

	body {
		padding-top: 50px;

		.hero-unit h1 {
			font-size: 50px;
		}

		h2 {
			font-size: 22px;
		}
	}
}

@media screen and (max-width:320px) {

	body {
		
		nav {
			margin-top:10px;
		}

		.btn {
			font-size: 0.5em;
		}

		.hero-unit h1 {
			font-size: 40px;
		}

		.widget {
			h2 {
				i {
					display:none;
				}
			}

			ul li span {
				display:block;
			}
		}
	}
}

